<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2><div
    class="max-w-6xl px-8 mx-auto py-12 lg:pt-28">
    <div>
      <h1
        class="text-white mt-4 font-semibold text-5xl lg:text-8xl tracking-tighter">
        Being an indie hacker is a dream I am fighting for
      </h1>
      <div
        class="mt-8 max-w-2xl prose prose-hover:a:text-accent-300 prose-a:text-white prose-a:underline prose-blockquote:border-l-2 prose-blockquote:font-light prose-blockquote:text-white/50 prose-code:text-white prose-figcaption:pb-6 prose-figcaption:text-accent-300 prose-figcaption:text-base prose-h1:font-semibold prose-h1:lg:text-8xl prose-h1:text-5xl prose-h1:tracking-tighter prose-h4:lg:text-2xl prose-h4:text-xl prose-headings:font-mono prose-headings:text-white prose-img:aspect-square prose-img:object-cover prose-img:w-full prose-li:lg:text-xl prose-li:marker:text-white prose-li:text-lg prose-mark:bg-accent-300 prose-p:lg:text-xl prose-p:text-lg prose-strong:text-white space-y-6 text-white/70 prose-table:divide-white/20">
        <h4>
          You don't have to spend all your time thinking about what you're
          doing, you just let it happen. No worries. No cares. Just float and
          wait for the wind to blow you around. When you buy that first tube of
          paint it gives you an artist license.
        </h4>
        <p>
          Any little thing can be your friend if you let it be. Think about a
          cloud. Just float around and be there. Isn't that fantastic that you
          can create an almighty tree that fast? You want your tree to have some
          character. Make it special. Just go out and talk to a tree. Make
          friends with it. Have fun with it.
        </p>

        <p>
          Let's put some happy trees and bushes back in here. We touch the
          canvas, the canvas takes what it wants. Automatically, all of these
          beautiful, beautiful things will happen. Just take out whatever you
          don't want. It'll change your entire perspective. There it is.
        </p>

        <p>
          That's what makes life fun. That you can make these decisions. That
          you can create the world that you want. We don't need any guidelines
          or formats. All we need to do is just let it flow right out of us.
          Imagination is the key to painting.
        </p>
      </div>
    </div>
    <div class="mt-12">
      <div class="grid grid-cols-2 col-span-2 gap-4 lg:grid-cols-3">
        <article>
          <img
            class="w-full aspect-square object-cover"
            src="https://images.unsplash.com/photo-1574852859542-1b41217a7815?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
            alt=""
            width="1310"
            height="873"
          />
          <figcaption class="sr-only">
            Michael Andreuzza sketching on his new design
          </figcaption>
        </article>
        <article class="">
          <img
            class="w-full aspect-square object-cover"
            src="https://images.unsplash.com/photo-1574100004472-e536d3b6bacc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
            alt=""
            width="1310"
            height="873"
          />
          <figcaption class="sr-only">
            Michael Andreuzza working on his new design
          </figcaption>
        </article>
        <article class="">
          <img
            class="w-full aspect-square object-cover"
            src="https://images.unsplash.com/photo-1574429977495-e6d2c1aa6b49?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
            alt=""
            width="1310"
            height="873"
          />
          <figcaption class="sr-only">
            Michael Andreuzza planning on his new design
          </figcaption>
        </article>
      </div>
    </div>
    <div class="max-w-5xl mt-12">
      <h3
        class="text-black mt-4 font-semibold leading-loose text-5xl tracking-tighter">
        Short bio
      </h3>
      <div
        class="lg:mt-8 max-w-2xl prose hover:prose-a:text-accent-300 prose-a:text-white prose-a:underline prose-blockquote:border-l-2 prose-blockquote:font-light prose-blockquote:text-white/50 prose-code:text-white prose-figcaption:pb-6 prose-figcaption:text-accent-300 prose-figcaption:text-base prose-h1:font-semibold prose-h1:lg:text-8xl prose-h1:text-5xl prose-h1:tracking-tighter prose-h4:lg:text-2xl prose-h4:text-xl prose-headings:font-mono prose-headings:text-white prose-img:aspect-square prose-img:object-cover prose-img:w-full prose-li:lg:text-xl prose-li:marker:text-white prose-li:text-lg prose-mark:bg-accent-300 prose-p:lg:text-xl prose-p:text-lg prose-strong:text-white space-y-6 text-white/70 prose-table:divide-white/20">
        <p>
          I'm a self taught Front-end Designer, product guy and a bootstrapped
          Indie Hacker, with a simple and modernist visual language, specialized
          in Tailwind CSS, dark-mode design and Tailwind CSS UI Components. I
          have a wide range of customers around the world, enjoying the products
          that I built, designed and marketed. I have recently sold my SAAS 2
          and right now I am building another one while working on <a
            href="https://unwrapped.design/">Unwrapped and Lexington</a
          >.
        </p>
        <p>
          For the past four years I've also been curating a collection of color
          inspiration <a href="https://colorsandfonts.com">Colors &amp; Fonts</a
          >, creating VS Code Themes , like <a
            href="https://marketplace.visualstudio.com/publishers/wicked-labs"
            >Serendipity, Sequoia, Malibu and Relentless.</a
          >
        </p><p>
          I have also been launching projects on <a
            href="https://www.producthunt.com/@michael_andreuzza"
            >Product Hunt</a
          > successfully.
        </p><p>
          I had the privilege of having my work featured on the following sites
          and publications: <a
            href="https://bytes.dev/archives/29#:~:text=WickedBlocks%20is%20a%20collection%20of%20120%2B%20layout%20blocks%20and%20components%20built%20with%20Tailwind%20CSS%20ready%20to%20copy%2Dpaste%20into%20your%20Tailwind%20project.%20If%20you%27d%20like%20the%20New%20England%20version%2C%20check%20out%20WickedBlachs.%20My%20boy%27s%20wicked%20smaht"
            >Bytes
          </a>, <a href="https://www.producthunt.com/@michael_andreuzza/made"
            >Product Hunt</a
          >, <a
            href="https://buttondown.email/alpinejs/archive/alpinejs-weekly-72/#:~:text=Vertical%20tabs%20with%20Alpine.js%20by%20%40Mike_Andreuzza"
            >Alpine.js Weekly
          </a>,<a href="https://onepagelove.com/authors/wickedtemplates"
            >One Page Love</a
          >,<a
            href="https://www.creative-tim.com/blog/web-development/free-tailwind-css-templates-resources/?msclkid=177ca36ac6e111eca02ea9a67f498a60#:~:text=CSS%20and%20Flowbite.-,Colors%20%26%20Fonts,-Live%20Preview%C2%A0%C2%A0"
            >Creative Tim
          </a>,<a
            href="https://github.com/bradtraversy/design-resources-for-developers"
            >Brad Traversy</a
          >,<a
            href="https://speckyboy.com/weekly-news-for-designers-610/#:~:text=A%20color%20and%20typography%20system%20for%20designers.%20Compatible%20with%20Figma%2C%20Sketch%20and%20more"
            >Specky Boy
          </a>,<a
            href="https://tympanus.net/codrops/collective/collective-608/#:~:text=Colors%20%26%20Fonts%20is%20a%20curated%20library%20of%20colors%20and%20fonts%20for%20digital%20designers%20and%20web%20developers"
            >Code Drops
          </a>,<a href="https://www.youtube.com/watch?v=LQw2ljPHJU0&t=606s"
            >Design Course</a
          >,<a href="https://www.youtube.com/watch?v=IfybAqUqXHc&t=175s"
            >Laravel Daily
          </a>,<a href="https://www.darkmodedesign.com">Dark Mode Design</a>,<a
            href="https://github.com/arthurspk/guiadevbrasil">Guia Dev Brasil</a
          >
        </p><p>
          You can find me on <a href="https://dribbble.com/MichaelAndreuzza"
            >Dribble</a
          >, <a href="https://www.figma.com/@MikeAndreuzza">Figma Community</a>, <a
            href="https://www.indiehackers.com/Michael_Andreuzza"
            >Indie Hackers</a
          >and <a href="https://twitter.com/Mike_Andreuzza">Twitter</a>and you
          can get in touch <a href="mailto:michael@andreuzza.com">via e-mail</a
          >, you can talk to me in English, Spanish, Italian &amp; Swedish.
        </p>
        <hr />
        <p>
          Michael Andreuzza
          <br />
          <span class="opacity-50 text-xs"
            >Location: Åland Islands, Finland</span
          >
        </p>
      </div>
    </div>
  </div>
</main>
