<footer aria-labelledby="footer-heading">
  <div class="items-center relative max-w-6xl mx-auto py-12 px-8">
    <div
      class="flex flex-col gap-y-12 items-start justify-between lg:flex-row lg:items-center lg:py-16 pb-6 pt-16">
      <div>
        <div class="flex items-center text-white">
          <div>
            <p class="font-semibold italic lg:text-4xl text-2xl">author.</p><p
              class="text-sm mt-1 max-w-sm">
              Designed and built in the Åland Islands by Michael Andreuzza.
            </p>
          </div>
        </div>

        <nav class="flex flex-col lg:flex-row gap-8 mt-11">
          <a
            href="/overview"
            class="text-white -mx-3 -my-2 delay-150 hover:delay-[0ms] hover:text-accent-300 px-3 py-2 relative rounded-lg text-sm transition-colors"
            ><span class="relative z-10">Overview</span>
          </a><a
            href="https://www.lexingtonthemes.com/license"
            class="text-white -mx-3 -my-2 delay-150 hover:delay-[0ms] hover:text-accent-300 px-3 py-2 relative rounded-lg text-sm transition-colors"
            ><span class="relative z-10">License</span>
          </a><a
            href="https://lexingtonthemes.com/documentation"
            class="text-white -mx-3 -my-2 delay-150 hover:delay-[0ms] hover:text-accent-300 px-3 py-2 relative rounded-lg text-sm transition-colors"
            ><span class="relative z-10">Documentation</span>
          </a><a
            href="/https://twitter.com/lexingtonthemes"
            class="text-white -mx-3 -my-2 delay-150 hover:delay-[0ms] hover:text-accent-300 px-3 py-2 relative rounded-lg text-sm transition-colors"
            ><span class="relative z-10">Social</span>
          </a><a
            href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/957cc6ab-7ae2-42f9-863a-ebcdebbfa855"
            class="text-white -mx-3 -my-2 delay-150 hover:delay-[0ms] hover:text-accent-300 px-3 py-2 relative rounded-lg text-sm transition-colors"
            ><span class="relative z-10">Buy Author</span>
          </a>
        </nav>
      </div>
    </div><div
      class="flex flex-col border-t border-white/10 md:pt-6 pb-12 pt-8">
      <p class="text-zinc-500 md:mt-0 mt-6 text-sm">
        © Copyright <span>2023</span>. All rights reserved.
      </p>
    </div>
  </div>
</footer>
